@import "./_variables";

#translator {
    position: relative;
    z-index: 2;
    height: 86vh;
    width: 80%;
    margin: 7vh auto;
    border: 3px solid beige;
    border-radius: 5px;
    background-color: white;

    h1 {
        text-align: center;
        color: $blue;
        margin-top: 7%;
        font-size: x-large;
    }
}



#translator__language {
    width: 80%;
    margin: 5% auto 4% auto;
    display: flex;
    justify-content: space-evenly;

    .language {
        color: $blue;
        width: 30%;
        font-size: 25px;
    
        #secondLang {
            text-align: end;
        }
    
        #swap {
            font-size: xx-large;
            color: $pinkish;
        }

        #swap:active {
            transform: scale(0.9);
            color: $dusty;
        }

        #swap:hover {
            color: $light-dusty;
        }
    }
}


#input-output {
    width: 90%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;

    #input {
        width: 90%;
        height: 25vh ;
        font-size: 25px;
        background-color: $dusty;
        border: 1px solid $dusty;
        border-radius: 5px;
        text-align: center;
    }
    
    #output {
        background-color: $grey;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
        height: 25vh ;
        font-size: 25px;
        margin-top: 5%;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 1095px) {
    #translator__language {
        width: 80%;
        margin: 5% auto 4% auto;
        display: flex;
        justify-content: space-evenly;
    
        .language {
            color: $blue;
            width: 30%;
            font-size: 25px;
        
            #secondLang {
                text-align: end;
            }
        
            #swap {
                font-size: xx-large;
                color: $pinkish;
            }
    
            #swap:active {
                transform: scale(0.9);
                color: $dusty;
            }
    
            #swap:hover {
                color: $light-dusty;
            }
        }
    }
    
    
    #input-output {
        width: 90%;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 10px auto;
    
        #input {
            width: 90%;
            height: 25vh ;
            font-size: 25px;

        }
        
        #output {
            width: 90%;
            height: 25vh ;
            font-size: 25px;
            margin-top: 5%;
        }
    }
}

@media only screen and (max-width: 415px) {
    .language {
        width: 33%;
        font-size: 15px;
    }

    #input {
        font-size: 18px;
    }
    #outout {
        font-size: 13px;
    }

}