@import "./_variables";

#translator {
    position: relative;
    z-index: 2;
    height: 86vh;
    width: 80%;
    margin: 7vh auto;
    border: 3px solid beige;
    border-radius: 5px;
    background-color: white;

    h1 {
        text-align: center;
        color: $blue;
        margin-top: 7%;
        font-size: x-large;
    }
}

#translator__language {
    width: 80%;
    margin: 5% auto 4% auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .language {
        color: $blue;
        width: 30%;
        font-size: 25px;
    }
    #secondLang {
        text-align: end;
    }

    #swap {
        font-size: xx-large;
        color: $pinkish;
        background-color: white;
        border: white;
        
    }

    #swap:active {
        transform: scale(0.9);
        color: $dusty;
    }

    #swap:hover {
        color: $light-dusty;
    }   
}



#input-output {
    width: 90%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;

    #input {
        width: 90%;
        height: 25vh ;
        font-size: 25px;
        background-color: $dusty;
        border: 1px solid $dusty;
        border-radius: 5px;
        text-align: center;
    }
    
    #output {
        background-color: $grey;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
        height: 25vh ;
        font-size: 25px;
        margin-top: 5%;
        border-radius: 5px;
    }

    .sounds {
        position: absolute;
        margin-top: 15px;
        margin-bottom: 0;
        font-size: x-large;
    }

    .sounds:active {
        transform: scale(0.9);
    }

    .sound_left {
        color: $blue;
        background-color: $dusty;
        border:$dusty;
        top: 43%;
        
    }

    .sound_right {
        color: $pinkish;
        border: $grey;
        background-color: $grey;
        bottom: 20%;
    }

    
}

@media only screen and (min-width: 1095px) {
    #translator {
        height: 90vh;
        width: 80%;
        margin: 5vh auto;
    
        h1 {
            margin-top: 2%;
            font-size: 40px;
        }
    }
    
    #translator__language {
        width: 90%;
        margin: 3% auto;
    
        .language {
            width: 25%;
            font-size: 30px;
           
        }
        #secondLang {
            text-align: end;
        }

        #swap {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 35px;
        }
    
    }
    
    #input-output {
        width: 90%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px auto;
    
        #input {
            width: 40%;
            height: 35vh ;
            font-size: 35px;
        }
        
        #output {
            width: 40%;
            height: 35vh ;
            font-size: 35px;
            margin: 0;
        }

        .sounds {
            position: absolute;
            margin-top: 15px;
            font-size: 25px;
        }

        .sound_left {
            bottom: 31%;
            left: 12%;
        }

        .sound_right {
            bottom: 31%;
            right: 12%;
        }

    }
}

@media only screen and (max-width: 415px) {
    .language {
        width: 33%;
        font-size: 15px;
    }

    #input {
        font-size: 18px;
    }
    #outout {
        font-size: 13px;
    }
    .sounds {
        font-size: medium;
    }
    .sound_left {
        top: 45%;
    }

    .sound_right {
        bottom: 17%;
    }

}