* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  background-color: #03113D;
  position: relative;
  overflow: hidden;
}

#wave1 {
  position: absolute;
  top: -9%;
}

#wave {
  position: absolute;
  bottom: -15%;
  left: 0;
  right: 0;
}

#translator {
  position: relative;
  z-index: 2;
  height: 86vh;
  width: 80%;
  margin: 7vh auto;
  border: 3px solid beige;
  border-radius: 5px;
  background-color: white;
}
#translator h1 {
  text-align: center;
  color: #03113D;
  margin-top: 7%;
  font-size: x-large;
}

#translator__language {
  width: 80%;
  margin: 5% auto 4% auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#translator__language .language {
  color: #03113D;
  width: 30%;
  font-size: 25px;
}
#translator__language #secondLang {
  text-align: end;
}
#translator__language #swap {
  font-size: xx-large;
  color: #c67e7e;
  background-color: white;
  border: white;
}
#translator__language #swap:active {
  transform: scale(0.9);
  color: #BC9082;
}
#translator__language #swap:hover {
  color: #e6d3cd;
}

#input-output {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
}
#input-output #input {
  width: 90%;
  height: 25vh;
  font-size: 25px;
  background-color: #BC9082;
  border: 1px solid #BC9082;
  border-radius: 5px;
  text-align: center;
}
#input-output #output {
  background-color: #C4C4C4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 25vh;
  font-size: 25px;
  margin-top: 5%;
  border-radius: 5px;
}
#input-output .sounds {
  position: absolute;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: x-large;
}
#input-output .sounds:active {
  transform: scale(0.9);
}
#input-output .sound_left {
  color: #03113D;
  background-color: #BC9082;
  border: #BC9082;
  top: 43%;
}
#input-output .sound_right {
  color: #c67e7e;
  border: #C4C4C4;
  background-color: #C4C4C4;
  bottom: 20%;
}

@media only screen and (min-width: 1095px) {
  #translator {
    height: 90vh;
    width: 80%;
    margin: 5vh auto;
  }
  #translator h1 {
    margin-top: 2%;
    font-size: 40px;
  }

  #translator__language {
    width: 90%;
    margin: 3% auto;
  }
  #translator__language .language {
    width: 25%;
    font-size: 30px;
  }
  #translator__language #secondLang {
    text-align: end;
  }
  #translator__language #swap {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
  }

  #input-output {
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
  }
  #input-output #input {
    width: 40%;
    height: 35vh;
    font-size: 35px;
  }
  #input-output #output {
    width: 40%;
    height: 35vh;
    font-size: 35px;
    margin: 0;
  }
  #input-output .sounds {
    position: absolute;
    margin-top: 15px;
    font-size: 25px;
  }
  #input-output .sound_left {
    bottom: 31%;
    left: 12%;
  }
  #input-output .sound_right {
    bottom: 31%;
    right: 12%;
  }
}
@media only screen and (max-width: 415px) {
  .language {
    width: 33%;
    font-size: 15px;
  }

  #input {
    font-size: 18px;
  }

  #outout {
    font-size: 13px;
  }

  .sounds {
    font-size: medium;
  }

  .sound_left {
    top: 45%;
  }

  .sound_right {
    bottom: 17%;
  }
}
#buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1%;
}
#buttons .btn {
  text-align: center;
  width: 25%;
  margin: 15px 8%;
  padding: 10px 25px;
  background-color: #bc8f823e;
  border: 1px solid #bc8f823e;
  border-radius: 5px;
  color: #03113D;
  font-weight: 600;
}
#buttons .btn:active {
  transform: scale(0.9);
  background-color: #03113D;
  color: #BC9082;
}

@media only screen and (min-width: 1095px) {
  #buttons {
    margin-top: 5%;
  }
  #buttons .btn {
    text-align: center;
    width: 25%;
    margin: 15px 8%;
    padding: 10px 25px;
  }
}
@media only screen and (max-width: 415px) {
  #buttons .btn {
    margin: 15px 2%;
    width: 40%;
    font-size: 10px;
  }
}